body {
  margin: 0;
  height: 100vh;
  background: #87CEEB; /* Blue sky */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative;
}

.sun {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
}

.cloud {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 100px;
  height: 50px;
}

.cloud:nth-child(1) { top: 50px; left: 50px; }
.cloud:nth-child(2) { top: 100px; left: 200px; }
.cloud:nth-child(3) { top: 150px; right: 100px; }

.rainbow-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.leprechaun-svg {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 150px;
}

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0f4c0f, #1a5a1a, #0f4c0f);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M0 0 Q50 20 100 0 V100 Q50 80 0 100 Z" fill="%230f4c0f"/></svg>');
  background-size: cover;
  transition: transform 2s ease-in-out;
}

.curtain.lifted {
  transform: translateY(-100%);
}

.curtain-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.puzzle {
  text-align: center;
  color: white;
}

.word {
  font-size: 48px;
  margin-bottom: 20px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  width: 200px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.pot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pot {
  width: 200px;
  height: 200px;
  cursor: pointer;
  filter: drop-shadow(0 0 20px gold);
}